.gallery-grid {
  display: grid;
  // 1 colonne sur mobile, 2 sur tablette, 3 sur Mac
  grid-template-columns: repeat(1, 1fr);
  
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  gap: 15px;
  padding: 20px;
}

img {
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE 10 et + */
  user-select: none;          /* Standard */
  pointer-events: none;       /* Empêche toute interaction directe */
  -webkit-user-drag: none;    /* Empêche le drag sur Mac/Safari */
}
.photo-container {
  position: relative;
  
  .protection-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; // Passe au-dessus de l'image
    background: rgba(0,0,0,0); // Invisible
  }
}